@model SiteCore.Library.UI.Models.BookViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h4>Book</h4>
<hr />
<p class="text-danger">@TempData["ErrorMessage"]</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @foreach (var item in Model.Books)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@item.Id" />
                <div class="form-group">
                    <label asp-for="@item.Title" class="control-label"></label>
                    <input asp-for="@item.Title" class="form-control" />
                    <span asp-validation-for="@item.Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@item.Author" class="control-label"></label>
                    @foreach (var author in Model.AvailableAuthors)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedAuthors"
                                       value="@author.Id"
                                       @(@author.Name.Contains(" ") ? "checked" : "") /> @author.Name
                                </label>
                            </div>
                        }
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
